* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.article {
  flex-basis: 300px;
  background-color: bisque;
}
.article p {
  margin: 8px;
  padding: 16px;
  width: 300px;
}
.article h2 {
  margin: 8px;
  padding: 16px;
  width: 300px;
}
.article-list {
  display: flex;
}
