* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.article {
  background-color: bisque;
  width: 300px;
}
.article p {
  margin: 8px;
  padding: 16px;
}
.article h2 {
  margin: 8px;
  padding: 16px;
}
.article-list {
  display: flex;
}
