* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: linear-gradient(60deg, red, orange);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: #e5e5e5;
}

.main {
  display: flex;
  flex: 1;
}

/* navigation */

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  list-style: none;
  padding: 0;
}
.nav-list-item {
  list-style-type: none;
  background-color: #808080;
  margin-bottom: 0.5em;
  line-height: 2em;
  height: 2em;
}

.nav-list-link {
  color: white;
  text-decoration: none;
  padding: 0 0.5em;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* section main  */
.section {
  width: 60%;

  padding: 0.5em;
  font-size: 1.25em;
}

.section__header {
  font-size: 5vw;
  display: flex;
  justify-content: center;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-weight: 700;
  font-size: 1.125em;
}

/* news  */
.news {
  width: 20%;
  padding: 0.5em;
}
