* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.square {
  width: 100px;
  height: 100px;
  background-color: #8a2be2;
  margin: 8px;
}

@media (max-width: 599px) {
  .square {
    background-color: #ff7f50;
  }
}

@media (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
