* {
  box-sizing: border-box;
}
.header {
  height: 50px;
  background-color: yellow;
}
.footer {
  clear: both;
  height: 50px;
  background-color: green;
}
.content {
  float: left;
  width: 80%;
  height: 500px;
  background-color: pink;
}
.sidebar {
  float: left;
  width: 20%;
  height: 500px;
  background-color: grey;
}
