* {
  box-sizing: border-box;
}
.rect {
  width: 100px;
  height: 100px;
  background-color: coral;
  margin-bottom: 16px;
  opacity: 0.5;
  text-align: center;
  line-height: 100px;
}
.container {
  margin: 32px;
}
.rect:hover {
  opacity: 1;
  width: 100%;
}
.linear {
  transition: opacity 0.5s linear, width 2s linear;
}
.ease {
  transition: opacity 0.5s ease, width 2s ease;
}
.ease-in {
  transition: opacity 0.5s ease-in, width 2s ease-in;
}
.ease-out {
  transition: opacity 0.5s ease-out, width 2s ease-out;
}
.ease-in-out {
  transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}
